<footer>
    <div class="container-fluid">
        <div class="col-md-3">
            <p>&copy; Gamers of America 1989 - 2021</p>
        </div>

        <div class="col-md-1">
            <p><a href="/about">About</a></p>
        </div>

        <div class="col-md-7">
            <p><a href="/contact">Contact</a></p>
        </div>
    </div>
</footer>
</body>

</html>