<%- include("./partials/header.ejs") %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
               Since we first opened in 1989, we have been providing gamers ways to easily meet up with each other for
               a good gaming time! Our founder, Bill Gamtes Fergison had a single minded dream for gamers to share their love of gaming.
               In our over 30 years of service, we have never heard a single compliant and have only ever had satisfied customers
               and will do whatever it takes to please you and your money! 

               <br>
               
               <img class= "center" src="images/bearded-man.jpg" alt="Picture of Bill Gamtes Fergison">
               <div class="row connections">Our Founder: Bill Gamtes Fergison</div>
               <br>

            </div>
        </div>
    </div>
</main>
    
<%- include("./partials/footer.ejs") %>