<%- include("./partials/header.ejs") %>


            <div class="container">
                <div class="row">
                    <div class="col-md-8 bodyText">
                        <p>Welcome to the Video Game Club Meetups site!</p>

                        <br>

                        <p>
                            Find and attend hundreds of video game related clubs with people all around the world!<br>
                            Whether you're casual or hardcore, retro or modern, a PC or Console Gamer, we're sure to have a meet up here for you!
                        </p>

                        <br>

                        <p>See our connections page to browse some of the meet ups we have!</p>
                    </div>
                </div>
            </div>
        </main>

<%- include("./partials/footer.ejs") %>
